$contact-card-height: 30rem;
$hidden-information-height: 5rem;
$hovered-card-height: $contact-card-height + $hidden-information-height;

.contact {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;

  height: $contact-card-height;

  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

  .image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    align-self: center;
  }

  .icon {
    width: 5rem;
    height: 5rem;

    margin-top: -2.5rem;
  }

  .information {
    margin-top: 1rem;

    .name {
      font-size: 1.8rem;
    }

    .job {
      font-size: 1.3rem;
    }
  }

  .hidden-info {
    display: none;
    position: absolute;
    bottom: 2rem;

    font-size: 1.3rem;
  }

  &:hover {
    height: $hovered-card-height;
  }

  &:hover > .hidden-info {
    display: block;
  }
}
