$contact-card-height: 32rem;
$hidden-information-height: 5rem;
$hovered-card-height: $contact-card-height + $hidden-information-height;

.contact {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;

  height: $contact-card-height;

  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

  .image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    align-self: center;

    transition: all 0.2s;
  }

  .icon {
    width: 5rem;
    height: 5rem;

    margin-top: -2.5rem;
  }

  .information {
    margin-top: 1rem;

    .name {
      font-size: 1.8rem;
    }

    .job {
      font-size: 1.3rem;
    }
  }

  .hidden-info {
    opacity: 0;
    position: absolute;
    bottom: 0;

    font-size: 1.3rem;

    transition: bottom 0.3s, opacity 0.2s;
  }

  // Displaying the hidden information when hovering
  &:hover > .hidden-info {
    bottom: 2rem;
    opacity: 1;
  }

  // Decrease the height of the image when hovering
  &:hover > .image {
    height: 16rem;
  }
}
