.contacts-list {
  min-height: 100vh;
  background-color: #eee;

  display: flex;
  flex-direction: column;

  .contacts {
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-gap: 2rem;
    justify-content: center;
  }

  .not-found {
    font-size: 3rem;
    font-weight: 100;

    margin-top: 5rem;
  }

  @media (max-width: 60rem) {
    .contacts {
      grid-template-columns: repeat(auto-fit, 23rem);
    }
  }
}
