.contacts-list {
  min-height: 100vh;
  background-color: #eee;

  .contacts {
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-gap: 2rem;
    justify-content: center;
  }

  @media (max-width: 60rem) {
    .contacts {
      grid-template-columns: repeat(auto-fit, 20rem);
    }
  }

  @media (max-width: 50rem) {
    .contacts {
      grid-template-columns: repeat(auto-fit, 35rem);
    }
  }
}
